
/***** ABOUT PAGE*****/
.main {
	-webkit-column-gap:2em;
	-webkit-column-rule: 2px;
    -webkit-columns:250px 3;
    padding: 30px;
}
img{
	display: inline-flex;
	margin: 1.5em 0;
	max-width: 100%;
	height: auto;
}
/***** CONTACT PAGE*****/
.mainn {
	-webkit-column-gap:3em;
	-webkit-column-rule: 2px;
    -webkit-columns:250px 2;
    padding: 20px;
}
/***** MENU PAGE*****/
    .mainnn {
	-webkit-column-gap:3em;
	-webkit-column-rule: 2px;
    -webkit-columns:250px 3;
    padding: 20px;
}