/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #aebcb9;
  background-color:azure;
}
p{
  font-size: 1.9rem;
  color: #222;
}
a {
  text-decoration: none;
}

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/*Heading*/
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.header {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: grey solid 1px;
}
.logo {
  position: relative;
}
/*--- Navigation Styles */
.main-nav {
  position: relative;
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .header {
      display: block;
    }
}
.main-nav a {
    text-decoration: none;
    font-weight: 200;
    color: #555555;
    margin-left: 5px;
}
.main-nav a:hover {
    color: #222222;
}

.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: 650px;
    background-size: cover;
}

.heading {
  width: 60%;
  margin: 0 auto;
}

.heading > p {
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    color: #222;
}
.heading > h2 {
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}
footer{
 /* margin-top: 1px;
  font-weight: 200;
  color: #f222;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 5px;*/

  margin-top: 1px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 10px;
  border-top: grey solid 1px;
}
.social {
  width: 20px;
  height: 20px;
  margin: 0.5px;
  display: inline-flex;
  justify-content: space-around;

}
/**Location**/
.google-maps-canvas{
height:3000px%;
width:1500px;
max-width:100%;
list-style:none; 
transition: none;
overflow:hidden
}
.iframe {height:100%;
  width:100%;
  border:0;
  frame border: 100%;
}
.map-generator{
  max-width: 100%;
   max-height: 100%; 
   background: none;
}
.rights {
  display: inline-flex;
  justify-content: left;
}
/***CONTACT PAGE****/
.contact {
  padding: 30px;
}
.contact h1 {
  font-size: 1.5em;

}
.contact ul {
  font-size: 1.5em;
  
}
.contact p {
  font-size: 1.5em;
  line-height: 3.5em;
  }
.contact li {
  font-size: 1.2em;
  line-height: 1.4em;
  color: blue;
}
